* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, ' Open Sans', ' Helvetica Neue', sans-serif;
}

body {
    background-color: #111;
    overflow-x: hidden;
}

header {
    position: relative;
    text-align: center;
    background-color: #222;
    box-shadow: #000 0px -20px 20px -20px inset;
    color: #eee;
    width: 100%;
    height: 100px;
    font-weight: bold;
    top: 0;
}

section {
    width: 100%;
    height: 100%;
}

#wrapper {
    position: relative;
    min-height: 100vh;
    color: #eee;
    width: 80%;
    margin: 0 auto;
}

#ribbons {
    position: absolute;
    bottom: 0;

    width: 80%;

    text-align: left;

    background-color: transparent;

    white-space: nowrap;
    overflow: hidden;

    -webkit-user-select: none;
    user-select: none;
}

.ribbon {
    cursor: pointer;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    background-color: #111;
    transition: padding-top .25s, color .1s;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
}

#main {
    /* overflow-y: auto; */
    font-size: 20px;
}

.project {
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-align: left;
    background-color: #222;
    color: #eee;
    box-shadow: #000 0px 0px 10px 2px inset;
    border-radius: 5px;
    margin: 10px;
    width: 250px;
    height: 300px;
    transition: box-shadow .25s;
}

.tag {
    font-weight: 600;
    padding: 3px;
    margin: 2px;
    margin-bottom: 10px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 16px;
    /* background-color: #222; */
    border: 3px solid #333;
    display: inline-block;
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
}

.project:hover {
    box-shadow: #000 0px 0px 10px 5px inset;
}

.popup {
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #eee;
    border-radius: 10px;
    width: 80%;
    height: 60%;
    top: 50%;
    left: 50%;
}

footer {
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #888;
    transition: all 0.25s ease-in-out 0s;
    margin-right: 10px;
    font-size: 15px;
}

footer a:hover {
    color: #eee;
}

footer p {
    color: #666;
    font-size: 14px;
}

hr {
    color: #666;
}